//@charset "UTF-8";
//@import './config/variables.scss';
// 解决按需引入 后又手动导入 无样式  该方式使用时 import { ElMessage } from 'element-plus'
//@use 'element-plus/theme-chalk/src/message.scss';
//@use 'element-plus/theme-chalk/src/message-box.scss';
// 全局引入时又改了 命名空间
//@use "element-plus/theme-chalk/src/index.scss" as *;

// 让下面的scss文件可以使用变量
@use './config/config.scss' as *;
@use './config/variables.scss' as *;

@import 'vxe-table/styles/variable.scss';
@import 'vxe-table/styles/cssvar.scss';
@import './mixin.scss';
@import './transition.scss';
@import './sidebar.scss';
@import './common.scss';
// 对Element Ui 部分样式进行改写
@import './element.scss';
// 引入重置样式
@import './reset.scss';

// div模拟输入框
/*
<div class="w180 mr10 nd-fake-input nd-not-allowed" v-showTips>
测试
</div>
*/
.nd-fake-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 10px;
  border: 1px solid #cbd0d6;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  font-size: 14px;
  color: #545e6e;

  .el-icon-arrow-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  &:hover {
    &:not(.nd-not-allowed) {
      border-color: #5473e8;
    }
  }
}

.nd-not-allowed {
  cursor: not-allowed;
  color: #cbd0d6;
  border: 1px solid #e7e7ea;
  //background-color: var(--eas-border-color-light);
  background-color: #f5f7fa;
}
